.books-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media screen and (min-width: 500px) {
  .books-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 700px) {
  .books-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 950px) {
  .books-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
