.page-background {
  background-image: url(https://images.pexels.com/photos/3728084/pexels-photo-3728084.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.login-page {
  max-width: 400px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.main-header {
  margin-bottom: 4rem;
  text-shadow: 2px 2px 8px #e6e4e4;
  font-family: "Dancing Script";
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.596);
  text-align: center;
}
