.home-page {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  text-align: center;
}

.links-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.link {
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  text-decoration: none;
  color: rgb(74, 72, 72);
}

.link:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.image {
  width: 70%;
  padding-top: 4rem;
}

@media screen and (min-width: 650px) {
  .home-page {
    max-width: 80%;
    padding-top: 4rem;
  }

  .links-container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  .link {
    font-size: 1.25rem;
  }

  .image {
    width: 80%;
    height: 80%;
  }
}

@media screen and (min-width: 1500px) {
  .links-container {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }

  .image {
    width: auto;
    height: auto;
  }
}
